# Python
venv/
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# Environment
.env

# Flask instance folder
instance/

# Cache
.cache/

# Redis
dump.rdb

# Celery
celerybeat-schedule*

# Node
node_modules/

# Generated exports
*.csv