<!DOCTYPE html>
<html>

<head>

<title>Patient History</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

<div id="app">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">

<a class="navbar-brand">Hospital Management System</a>

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="patient.html">Dashboard</a>
</li>

<li class="nav-item">
<a class="nav-link active" href="#">History</a>
</li>

<li class="nav-item">
<a class="nav-link" href="edit_profile.html">Edit Profile</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#" @click="logout">Logout</a>
</li>

</ul>

</div>
</nav>


<div class="container mt-4">

<h2>My Treatment History</h2>

<div class="mb-3">

<button class="btn btn-success" @click="exportCSV">
Export CSV
</button>

</div>


<div class="card p-3">

<table class="table table-bordered">

<thead>

<tr>
<th>Doctor</th>
<th>Date</th>
<th>Status</th>
<th>Diagnosis</th>
<th>Prescription</th>
</tr>

</thead>

<tbody>

<tr v-for="h in history">

<td>{{h.doctor}}</td>
<td>{{h.date}}</td>
<td>{{h.status}}</td>
<td>{{h.diagnosis}}</td>
<td>{{h.prescription}}</td>

</tr>

<tr v-if="history.length === 0">
<td colspan="5" class="text-center">
No history available
</td>
</tr>

</tbody>

</table>

</div>

</div>

</div>


<script>

new Vue({

el:"#app",

data:{

role: localStorage.getItem("role"),

patient_id: localStorage.getItem("patient_id"),

history:[]

},

methods:{

loadHistory(){

axios.get(
"http://127.0.0.1:5000/patient/history/"+this.patient_id
)

.then(res=>{
this.history = res.data
})

},

exportCSV(){

window.location =
"http://127.0.0.1:5000/export-csv/"+this.patient_id

},

logout(){

localStorage.clear()

window.location="../index.html"

}

},

mounted(){

if(this.role!="patient"){

window.location="../index.html"

}

this.loadHistory()

}

})

</script>

</body>
</html>